@font-face {
    font-family: 'Co Headline';
    src: url(/static/fonts/CoHeadlineCorpRegular.ttf);
}

:root{
    --background-color: #EADED7;
    --header-color: #4A4A4A;
    --body-text-color: #707070;
    --text-color-light: #A7A7A7;
    --dark-pink: #E870A7;
    --light-orange: #E9B39B;
    --orange: #E77849;
    --orange-rgb: 231, 120, 73;
    --blue: #74B6F1;
    --blue-rgb: 116, 182, 241;
    --purple: #D287D8;
    --purple-rgb: 210, 135, 216;
    --medium-pink: #F0BDD0;
    --header-font: 'Co Headline', cursive;
    --body-font: 'Signika', sans-serif;
}

html{
    background-color: var(--background-color);
}

body{
    align-content: center;
}

h1{
    font-family: var(--header-font);
    font-size: 5em;
    text-align: center;
    color: var(--header-color);
}

h2{
    font-family: var(--body-font);
    color: var(--body-text-color);
    font-size: 2.5em;
    text-align: center;
    margin-top: 2vh;
}

h3{
    font-family: var(--header-font);
    font-size: 3em;
    text-align: center;
    color: var(--header-color);
}

p {
    font-family: var(--body-font);
    color: var(--body-text-color);
    font-size: 2vw;
    text-align: center;
    margin-top: 2vh; 
    margin-bottom: 2vh;
}

#playlist-name {
    font-family: var(--body-font);
    color: var(--text-color-light);
    font-size: 2em;
    text-align: center;
    margin-top: 2vh; 
    margin-bottom: 2vh;
}

#header-icon{
    width: 15vw;
    display: block;
    margin: auto;
    margin-top: 8vh;
    margin-bottom: 4vh;
}

#header-icon-faded{
    width: 15vw;
    display: block;
    margin: auto;
    margin-top: 8vh;
    margin-bottom: 4vh;
    animation-name: iconFade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes iconFade{
    from {
        width: 15vw;
        display: block;
        margin: auto;
        margin-top: 8vh;
        margin-bottom: 4vh;
    } to {
        width: 40vw;
        display: block;
        margin: auto;
        margin-top: -60vh;
        margin-bottom: 6vh;
        opacity: 0.42;
    }
}

.header-image{
    display: block;
    width: 50vw;
    margin: auto;
}

#search-bar{
    display: flex;
    margin: auto;
    height: 8vh;
    width: 75vw;
    background-color: white;
    border: none;
    border-radius: 6vh;
    margin-top: 10vh;
    margin-bottom: 2vh;
    padding-right: 2vh;
    padding-left: 4vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    transition: 0.2s;    
    border: var(--body-text-color) 1px solid;
}

#search-playlist{
    background-color: transparent;
    outline: none !important;
    border: none !important;
    font-family: var(--body-font);
    color: var(--text-color-light);
    font-size: 2em;
    width: 95%;
    /*box-shadow: 0 10px 30px var(--light-orange);*/
}

#submit-playlist{
    background-color: var(--dark-pink);
    border-radius: 50%;
    width: 8vh;
    height: 8vh;
    border: none !important;
    outline: none !important;
    padding: 1.5vh;
    transition: 0.3s;
}

#submit-playlist:hover {
    filter: brightness(0.7);
    cursor: pointer;
}

#progress-bar{
    display: flex;
    margin: auto;
    height: 8vh;
    width: 75vw;
    background-color: white;
    border: none;
    border-radius: 6vh;
    margin-top: 10vh;
    margin-bottom: 2vh;
    padding-right: 4vh;
    padding-left: 4vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    transition: 0.2s;    
    border: var(--body-text-color) 1px solid;
}

#progress{
    display: flex;
    background-color: var(--dark-pink);
    border-radius: 6vh;
    width: 0.01%;
    height: 100%;
    border: none !important;
    outline: none !important;
    transition: 0.3s;
}

#progress-percent{
    font-family: var(--body-font);
    color: var(--header-color);
    position: relative;
    float: center;
    margin: auto;
}

.caption{
    color: var(--text-color-light);
    font-weight: lighter;
    font-size: 1.5vw;
    width: 80%;
    float: center;
    margin: auto;
}

.orange {
    color: var(--orange);
}

.dark-pink {
    color: var(--dark-pink);
}

#result-secton-1{
    height: 100vh;
}

.flex-col{
    float: left;
    position: relative;
    width: 50%;
    margin-top: 20vh;
}

#result-message{
    max-width: 100%;
    padding-left: 30%;
    text-align: right;
    font-size: 4vw;
}

#playlist-cover{
    width: 25vw;
    border-radius: 10%;
    margin-left: 5vw;
}

#display-playlist-name{
    font-family: var(--header-font);
    font-size: 2.4vw;
    text-align: center;
    margin-right: 15vw;
    margin-bottom: 0vh;
}

#display-playlist-info{
    font-family: var(--header-font);
    color: var(--text-color-light);
    font-size: 1.5vw;
    text-align: center;
    margin-right: 15vw;
    margin-top: 0;
    margin-bottom: 0;
}

#result-section-2{
    display: block;
    overflow: auto;
}

#chart-container{
    float: left;
    position: relative;
    width: 30vw !important;
    margin-left: 15vw;
    margin-top: 10vh;
    margin-bottom: 0;
    height: 25vw;
}

#chart-label{
    float: left;
    position: relative;
    width: 40vw !important;
    padding-left: 5vw;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20vh;
    height: 25vw;
}

.label-item{
    margin-bottom: 2vh;
}

.label-item p{
    display: inline;
    text-align: left;
    margin-left: 1vw;
}

.dot {
    display: inline;
    height: 1.5vw;
    width: 1.5vw;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid white;
    transition: 0.3s;
}

.dot:hover, .male-artist:hover, .underrep-artist:hover, .mixed-group:hover {
    filter: brightness(0.8);
}

.fill-blue{
    background-color: var(--blue);
}

.fill-orange{
    background-color: var(--orange);
}

.fill-purple{
    background-color: var(--purple);
}

.fill-pink{
    background-color: var(--medium-pink);
}

#male-artists{
    margin-left: 10%;
    width: 38%;
    margin-right: 2%;
    background-color: rgba(var(--blue-rgb), 0.4);
    border-radius: 10vh;
    margin-bottom: 2%;
}

#underrep-artists{
    margin-right: 10%;
    width: 38%;
    margin-left: 2%;
    background-color: rgba(var(--orange-rgb), 0.4);
    border-radius: 10vh;
    margin-bottom: 2%;
}

#mixed-gender{
    display: flex;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: rgba(var(--purple-rgb), 0.4);
    border-radius: 10vh;
    margin-bottom: 1%;
}

#mixed-gender-header{
    width: 20%;
    margin-left: 10%;
    margin-right: 5%;
    text-align: left;
}

#male-artists h3, .artists-list{
    margin-right: 10%;
    margin-left: 10%;
}

#underrep-artists h3, .artists-list{
    margin-right: 10%;
    margin-left: 10%;
}

.artists-list{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.male-artist{
    display: inline-block;
    background-color: var(--blue);
    font-family: var(--body-font);
    color: white;
    border-radius: 25px;
    margin-right: 1vh;
    margin-left: 1vh;
    padding: 1vh;
    margin-bottom: 1vh;
    border: 0.5px solid white;
    transition: 0.3s;
}

.underrep-artist{
    display: inline-block;
    background-color: var(--orange);
    font-family: var(--body-font);
    color: white;
    border-radius: 25px;
    margin-right: 1vh;
    margin-left: 1vh;
    padding: 1vh;
    margin-bottom: 1vh;
    border: 0.5px solid white;
    transition: 0.3s;
}

.mixed-group{
    display: inline-block;
    background-color: var(--purple);
    font-family: var(--body-font);
    color: white;
    border-radius: 25px;
    margin-right: 1vh;
    margin-left: 1vh;
    padding: 1vh;
    margin-bottom: 1vh;
    border: 0.5px solid white;
    transition: 0.3s;
}

#undetermined{
    margin-bottom: 10vh;
}

.spacer{
    height: 8vh;
}

#artist-recommendations{
   display:flex;
   padding-right: 10vw;
   padding-left: 10vw; 
}

.artist-rec{
    background-color: rgba(var(--orange-rgb), 0.4);
    width: 24vw;
    margin-right: auto;
    margin-left: auto;
    height: 24vw;
    border-radius: 5vw;
    margin-bottom: 16vh;
}

#result-section-3{
    display: block;
}

.rec-cover{
    width: 19.2vw;
    height: 19.2vw;
    margin-top: 2.4vw;
    margin-left: 2.4vw;
}

.rec-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5vw;
}

.placeholder-rec{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#rec-name{
    font-family: var(--header-font);
    font-size: 2.4vw;
    text-align: center;
    margin-bottom: 4vw;
    margin-top: 4vw;
}

#try-again{
    width: 80%;
    background-color: var(--dark-pink);
    color: white;
    font-family: var(--header-font);
    font-size: 4em;
    margin-bottom: 20vh;
    float: center;
    margin-top: 8vh;
    margin-left: 10%;
    padding-top: 4vh;
    padding-bottom: 4vh;
    border-radius: 8vh;
    border: none;
    transition: 0.3s;
}

#try-again:hover{
    filter: brightness(0.7);
    cursor: pointer;
}