<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Contralto!</title>
  <meta name="description" content="Whose voices are in your mix?">
  <meta name="author" content="SitePoint">

  <meta property="og:title" content="Contralto!">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://">
  <meta property="og:description" content="Whose voices are in your mix?">
  <meta property="og:image" content="image.png">

  <link rel="icon" href="{{ url_for('static',filename='images/headphones.svg') }}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400&display=swap" rel="stylesheet"> 

  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
  

</head>

<body>
  <img id="header-icon-faded" src="{{ url_for('static', filename='images/headphones.svg') }}" alt="headphones icon">
  <img class="header-image" src="{{ url_for('static',filename='images/FactCheckOurData.svg') }}" alt="Fact-check our data">
  <br>
  <p>Thank you for helping us keep our analyzer accurate!</p>
  <div class="spacer"></div>
  <div id="data-container">
    {% for category in artists %}
      {% for artist in artists[category] %}
          <div class="artist-data">
            <p class="artist-data-name">{{artists[category][artist]['name']}}</p>
            <select name="category" id="{{artists[category][artist]['name']}}-select-category" class="category-select">
              <option value="M" {% if category == 'male' %} selected {% endif %}>Male</option>
              <option value="F" {% if category == 'female' %} selected {% endif %}>Female</option>
              <option value="X" {% if category == 'nonbinary' %} selected {% endif %}>Nonbinary</option>
              <option value="MIX" {% if category == 'mixed_gender' %} selected {% endif %}>Mixed-gender</option>
              <option value="UND" {% if category == 'undetermined' %} selected {% endif %}></option>
            </select>
          </div>
      {% endfor %}
    {% endfor %}
  </div>
</body>
</html>
