<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Contralto!</title>
  <meta name="description" content="Whose voices are in your mix?">
  <meta name="author" content="SitePoint">

  <meta property="og:title" content="Contralto!">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://">
  <meta property="og:description" content="Whose voices are in your mix?">
  <meta property="og:image" content="image.png">

  <link rel="icon" href="{{ url_for('static',filename='images/headphones.svg') }}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400&display=swap" rel="stylesheet"> 

  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
  

</head>

<body>

  <div id="body-section-1">
    <img id="header-icon" src="{{ url_for('static', filename='images/headphones.svg') }}" alt="headphones icon">
    <img class="header-image" src="{{ url_for('static',filename='images/Contralto.svg') }}" alt="Contralto!">
    <h2>Whose voices are in your mix?</h2>
    <form action="/" method="post">
      <div id="search-bar">
        <input id="search-playlist" type="text" name="playlist-url" id="playlist-url" placeholder="https://open.spotify.com/playlist/...">
        <button id="submit-playlist" type="submit">
          <img src="{{ url_for('static',filename='images/search.svg') }}">
        </button>
      </div>
    </form>
    <p class="caption orange">{{error_msg}}</p>
  </div>
  <div class="body-section section-text-right">
    <h1>About</h1>
    <div id="home-text">
      <p><strong class="orange">Contralto</strong> is a web app estimating the gender diversity of a Spotify playlist. It gathers data from <a href="https://makemusicequal.chartmetric.com/pronoun-gender-database" target="_blank">Chartmetric's gender/pronouns database</a> (collected March 2022), and if the artist isn't listed there, checks out their <a href="https://www.last.fm/" target="_blank">Last.fm</a> bios. Contralto's results are based on pronouns. For each playlist, Contralto provides stats and recommendations of female and nonbinary artists in the playlist's top genres.</p>
      <br>
      <p>I hope to keep Contralto's data as accurate and up-to-date as possible... but so far, this project is just starting out and there are still a lot of inaccuracies! (Example: the database marks some bands as using "they/them" pronouns in plural, rather than to indicate gender identity; my Last.fm bio scrapipng method sometimes miscategorizes women as men, etc.) You can report incorrect listings <a href="https://docs.google.com/forms/d/e/1FAIpQLScEvshN_EOWUXPZccR2kVrRhKx6Iz9TAlWZJKXR9Z0GQxT3wQ/viewform?usp=sf_link" target="_blank">here.</a></p>
    </div>
  </div>
  <div class="body-section section-text-left">
    <h1>Stats for nerds</h1>
    <div id="home-text">
      <p><a href="https://everynoise.com/gender_tldr.html" target="_blank">Spotify listening patterns by gender</a> (Source: EveryNoise)</p>
      <p><a href="https://everynoise.com/tview.cgi?source=gender_listening_patterns" target="_blank">Gender listening patterns by genre</a> (source: EveryNoise)</p>
      <p><a href="https://drive.google.com/file/d/1_Lr8mJCi7f43oV9KkE8iAT_fLEgW-g84/view?usp=sharing" target="_blank">Artist Gender Representation in Music Streaming</a> (Source: Spotify R&D)</p>
      <p><a href="https://research.atspotify.com/representation-of-music-creators-on-wikipedia/" target="_blank">Representation of music creators on Wikipedia</a> (Source: Spotify R&D)</p>
      <p><a href="https://blog.chartmetric.com/the-gender-play-gap/" target="_blank">The Gender Play Gap</a> (Source: Chartmetric)</p>
      <p><a href="https://drive.google.com/file/d/1JRwzG-xARkJU60RFzCm91DGH8jvpx72J/view?usp=sharing" target="_blank">Counting the Music Industry: The Gender Gap</a> (Source: Vick Bain)</p>
      <p><a href="https://makemusicequal.chartmetric.com/music-industry-pronoun-gender-tracker" target="_blank">Music Industry Pronoun & Gender Tracker</a> (Source: Chartmetric)</p>
    </div>
  </div>
  <div class="body-section section-text-right">
    <h1>Notes</h1>
    <div id="home-text">
      <p>Keep in mind that Contralto is only an estimator based on a single metric. Contralto was created to highlight gender disparities in music, but the gender diversity of your playlist does not determine its diversity in other categories.<p>
      <p>Contralto categorizes artists based on their present gender identity, so at the moment a transgender man and a cisgender man would be sorted into the same category despite the differences in their experiences.</p>
      <div class="spacer"></div>
    </div>
  </div>
  <!--
  <div class="body-section section-text-left">
    <h1>Support</h1>
    <div id="home-text">
      <p><a href="https://www.keychange.eu/" target="_blank">Keychange:</a> Global network pushing for gender equality in the music industry</p>
      <p><a href="https://sheisthemusic.org/" target="_blank">She Is The Music:</a> Organization supporting women working in music (<a href="https://sheisthemusic.org/donate/" class="orange" target="_blank">Donate</a>)</p>
      <p><a href="https://www.transtrenderz.com/" target="_blank">Trans Trenderz:</a> Black-owned record label for trans artists (<a class="orange" href="https://www.transtrenderz.com/donate" target="_blank">Donate</a>)</p>
      <p><a href="https://saffronmusic.co.uk/" target="_blank">Saffron:</a> Organization providing training for music tech workers of underrepresented genders (<a href="https://saffronmusic.co.uk/donate/" class="orange" target="_blank">Donate</a>)</p>
      <p><a href="https://www.clubqueenrecords.com/" target="_blank">Club Queen Records:</a> Record label and platform for women of color in hip-hop, pop, dance, and R&B (<a class="orange" href="https://www.clubqueenrecords.com/donations" target="_blank">Donate</a>)</p>
      <p><a href="https://adhoc.fm/post/this-list-of-woman-and-non-binary-run-music-organizations-is-the-future-of-the-industry/" target="_blank" class="orange">List of women- and nonbinary-run music organizations and record labels</a></p>
    </div>
  </div>
-->
  <p class="footer">Built with 🤘 by <a href="https://github.com/caroldinh" target="_blank">Carol Dinh</a></p>

</body>
</html>
