<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Contralto!</title>
  <meta name="description" content="Whose voices are in your mix?">
  <meta name="author" content="SitePoint">

  <meta property="og:title" content="Contralto!">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://">
  <meta property="og:description" content="Whose voices are in your mix?">
  <meta property="og:image" content="image.png">

  <link rel="icon" href="{{ url_for('static',filename='images/headphones.svg') }}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400&display=swap" rel="stylesheet"> 

  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
  

</head>

<body>
  <img id="header-icon-faded" src="{{ url_for('static', filename='images/headphones.svg') }}" alt="headphones icon">
    <img class="header-image" src="{{ url_for('static',filename='images/contralto.svg') }}" alt="Contralto!">
    <h2>Whose voices are in your mix?</h2>
    <div id="progress-bar"><div id="progress"><p id="progress-percent"></p></div></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
      window.onload = function checkProgress(){
        console.log($("#progressBar").text());
        let pageUrl = window.location.href;
        pageUrl = pageUrl.split('/');
        let id = pageUrl[pageUrl.length - 1];

        if($("#progress-percent").text() != "100%"){
          $.ajax({
            url: "/analyzer-progress/" + id,
            type: "get",
            success: function(response) {
              $("#progress-percent").text(parseInt(response * 100) + "%");
              $("#progress").css('width', (parseInt(response * 100)) + "%");
              checkProgress();
            },
            error: function(xhr) {
              //Do Something to handle error
            }
          });
        } else {
          $.ajax({
            url: "/analyzer-result/" + id,
            type: "get",
            success: function(response) {
              $("#progress-percent").text(parseInt(response * 100) + "%");
              $("#progress").css('width', (parseInt(response * 100)) + "%");
              window.location.href=(id + '/result/')
            },
            error: function(xhr) {
              //Do Something to handle error
            }
          });
        }
      }
    </script>

</body>
</html>
